@import url(./reset.css);
//-----------ПЕРЕМЕННЫЕ---------------------------
$col1: white;
$col2: #d4c17f;
//------------МИКСИНЫ--------------------------
@mixin font($ff, $fw, $fs, $ln, $c) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $ln;
  color: $c;
}
._container {
  padding: 0px 20px;
  max-width: 1115px;
  margin: 0 auto;
}
//------------FIRST BLOCK-------------------
.first__block {
  .header {
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    @include font("Raleway", 400, 14px, 16px, $col1);
    .left {
    }
    .left-logo-header:hover {
      box-shadow: 2px 2px 10px #d4c17f;
    }
    .left-text-header {
      padding-top: 10px;
    }
    .right {
      display: flex;
      align-items: center;
    }
    .nav-item:hover {
      border-bottom: 2px solid #d4c17f;
      color: #d4c17f;
    }
  }

  .navbar-brand img:hover {
    box-shadow: 0 0 10px $col2;
  }
  .nav-item a:hover {
    border-bottom: 2px solid $col2;
    color: #d4c17f;
  }
  .left__text {
    @include font("Raleway", 400, 14px, 16px, $col1);
    margin-top: 15px;
  }
  .nav-link {
    @include font("Raleway", 400, 14px, 16px, $col1);
  }
  li {
    margin-right: 40px;
  }
  .bg-light {
    border-radius: 30%;
  }
  background: url(../img/main-bg.svg) center / cover no-repeat;
  .first__content {
    max-width: 582px;
    margin: 200px auto 0 auto;
    background: url(../img/mouse.svg) center no-repeat;
  }
  .first__content-header {
    @include font(
      "Playfair Display",
      700,
      calc(30px + 0.5vw),
      calc(35px + 0.5vw),
      $col2
    );
    text-align: center;
    max-width: 556px;
    margin: 0 auto 340px auto;
    & p {
      margin-bottom: 0;
    }
  }
  .first__contacts {
    display: flex;
    justify-content: center;
    @include font("Raleway", 400, calc(8px + 0.6vw), 21px, $col1);
  }
  .first__contact1 {
    background: url(../img/location.svg) left center no-repeat;
    padding: 5px 0 5px 25px;
    margin-right: calc((100px / 556px) * 100%);
  }
  .first__contact2 {
    background: url(../img/phone.svg) left center no-repeat;
    padding: 5px 0 5px 25px;
  }
  .first__contact1:hover,
  .first__contact2:hover {
    text-decoration: underline $col2;
    color: #d4c17f;
  }
  .header__item:hover {
    border-bottom: 2px solid $col2;
    color: #d4c17f;
  }
}
.block {
  background: #242b33;
}
.second__block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: calc((190px / 1920px) * 100%);
  .flex {
    width: 20%;
    min-width: 140px;
    text-align: center;
    align-items: center;
    padding: 0 10px;
  }
  .flex p {
    margin-top: calc(40px + 0.3vh);
    @include font("Roboto", 300, calc(10px + 0.5vw), 27px, $col1);
  }
}
.third__block {
  .headers {
    margin: calc((120px / 1115px) * 100%) auto calc((100px / 1115px) * 100%)
      auto;
    @include font(
      "Playfair Display",
      700,
      calc(20px + 1vw),
      calc(25px + 1vw),
      $col2
    );
  }
  .lofts {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .lofts1,
  .lofts2 {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 47%;
  }
  .loftik {
    background: #d4c17f 0 0 / cover no-repeat;
    width: 97%;
  }
  .loft,
  .loft2 {
    width: 100%;
    background: url(../img/loft1.svg) 0 0 / cover no-repeat;
    padding-bottom: calc((320px / 350px) * 100%);
    transition: 0.5s ease;
  }
  & .loft:hover,
  & .loft2:hover {
    opacity: 0.8;
    background: #343c45 0 0 / cover no-repeat;
    transform: translate(-16px, -16px);
  }
  .loft-content {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: center;
    @include font("Raleway", 400, calc(8px + 1vw), calc(11px + 1vw), $col1);
    text-decoration: underline;
  }
  .loft:hover .loft-content,
  .loft2:hover .loft-content {
    opacity: 1;
  }
  .loft,
  .loft2 {
    position: relative;
  }
  .loft::after,
  .loft2::after {
    position: absolute;
    left: 10%;
    bottom: 15%;
    @include font("Raleway", 400, calc(8px + 1vw), 28px, $col1);
  }
  .loft::after {
    content: "Лофт — 3 этажа";
  }
  .loft2::after {
    content: "Лофт — 2 этажа";
  }
}
.city {
  box-sizing: border-box;
  background: url(../img/city.svg) 0 0 / cover no-repeat;
  .city-all {
    display: flex;
    padding: calc((180px / 1920px) * 100%) 20px calc((180px / 1920px) * 100%)
      20px;
  }
  .city__content {
    max-width: 50%;
  }
  .headers {
    @include font(
      "Playfair Display",
      700,
      calc(20px + 1vw),
      calc(25px + 1vw),
      $col2
    );
  }
  .city__text {
    margin-top: calc((50px / 535px) * 100%);
    margin-right: calc((25px / 535px) * 100%);
    @include font("Raleway", 400, calc(8px + 0.5vw), 24px, $col1);
  }
  .inputs {
    p {
      margin: 0;
    }
    display: flex;
  }
  .inputs input {
    @include font("Raleway", 400, calc(7px + 0.3vw), 16px, $col1);
    padding: 0;
    text-align: center;
  }
  .inputs input[type="text"],
  & input[type="number"] {
    padding: 1.5% 2%;
    margin-bottom: calc((46px / 535px) * 100%);
    background: #ffffff;
    opacity: 0.2;
    color: black;
  }
  .inputs input[type="submit"] {
    background: #d4c17f;
    color: #ffffff;
    border: none;
  }
  .inputs input[type="submit"]:hover {
    opacity: 0.5;
  }
  .input-text {
    @include font("Raleway", 400, calc(7px + 0.1vw), 16px, $col1);
    max-width: 255px;
    text-align: center;
  }
  .inputss {
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .inputs {
    justify-content: space-between;
  }
  .inputs input {
    width: 47%;
  }
  .input-text {
    width: 47%;
  }
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: calc((550px / 1115px) * 100%);
  background: url(../img/play-button.svg) center center / 10% no-repeat,
    url(../img/vid.svg) center center / contain no-repeat;
  &:hover {
    opacity: 0.5;
  }
}
.map {
  padding: calc((180px / 1920px) * 100%) 20px calc((180px / 1920px) * 100%) 20px;
  & .headers {
    @include font(
      "Playfair Display",
      700,
      calc(20px + 1vw),
      calc(25px + 1vw),
      $col2
    );
    padding-bottom: calc((100px / 1920px) * 100%);
  }
  & img {
    width: 100%;
  }
}
.questions {
  padding-bottom: calc((191px / 1920px) * 100%);
  & .headers {
    padding-bottom: calc((61px / 1920px) * 100%);
    @include font(
      "Playfair Display",
      700,
      calc(20px + 1vw),
      calc(25px + 1vw),
      $col2
    );
  }
  .inputs {
    display: flex;
    justify-content: space-between;
    & * {
      @include font("Raleway", 400, calc(7px + 0.3vw), 16px, $col1);

      text-align: center;
    }
    p {
      margin: 0;
    }
    & .input-text {
      flex: 0 1 23%;
    }
    & input {
      flex: 0 1 23%;
      padding: 13px 5%;
    }
    & input[type="submit"] {
      background: #d4c17f;
      color: #ffffff;
      border: none;
    }
    & input[type="text"],
    & input[type="number"] {
      background: #ffffff;
      opacity: 0.2;
      color: black;
    }

    & input[type="submit"]:hover {
      opacity: 0.8;
    }
  }
}
.footer {
  width: 100%;
  background: url(../img/Rectangle\ 4.svg) 0 0 / cover no-repeat;
  @include font("Raleway", 400, 14px, 16px, $col1);
  & ._container {
    padding-top: calc((65px / 1920px) * 100%);
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & * {
      margin-bottom: 15px;
    }
  }
  & .header__right {
    display: flex;
    flex-direction: column;
  }
  & .first__contact5 *:not(:last-of-type) {
    margin-right: 15px;
  }
  & .header__item:hover {
    text-decoration: underline 2px solid $col2;
    color: #d4c17f;
  }
  & .left__logo:hover {
    box-shadow: 0 0 5px;
    color: #d4c17f;
  }
  .first__contacts *:hover:not(:last-of-type) {
    text-decoration: underline 2px solid $col2;
    color: #d4c17f;
  }
  .first__contact5 *:hover {
    opacity: 0.2;
  }
  .left,
  .header__right,
  .first__contacts {
    padding: 0 10px;
  }
}
.hz {
  background-color: #242b33;
  display: flex;
  justify-content: end;
}
